<head>
    <title>quiz details</title>
    <link rel="stylesheet" href="/stylesheets/details.css"> 
    <link rel="stylesheet" href="/stylesheets/stars.css">
  </head>
  <body>
    <% layout("layouts/boilerplate") %>
  
      <div class="header">
        <button href="#" class="button" style="--clr: #7808d0">
          <span class="button__icon-wrapper">
            <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__icon-svg" width="10">
              <path
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                fill="currentColor"></path>
            </svg>
            <svg viewBox="0 0 14 15" fill="none" width="10" xmlns="http://www.w3.org/2000/svg"
              class="button__icon-svg button__icon-svg--copy">
              <path
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                fill="currentColor"></path>
            </svg>
          </span>
          Take Quiz
        </button>
      </div>
  
  
      <!-- THIS IS THE QUIZ DETAILS CARD/ EDIT THIS LATER -->
      <div class="card" style="width: auto;">
        <div class="card-body">
          <h5 class="card-title"><%= quiz.title %></h5> <!-- Quiz Title -->
          <h6 class="card-subtitle mb-2 text-muted">Created By: <%= quiz.owner.username %></h6> <!-- Quiz Owner -->
          <h6 class="card-subtitle mb-2 text-muted"><%= quiz.category %></h6> <!-- Quiz Category -->
          <p class="card-text"><%= quiz.description %></p> <!-- Quiz Description -->
          <p class="card-text">Number of Questions: <%= quiz.questions.length %></p> <!-- Number of Questions -->
          <p class="card-text">Number of People Solved It: <%= quiz.reviews.length %></p> <!-- Number of People Solved It -->
        </div>
      </div>
  
      <!-- Reviews (Static Example - You can modify the reviews part) -->
      <div class="item-list">
        <% quiz.reviews.forEach(review => { %>
          <div class="item">
            <p class="author">By: <%= review.user.username %></p> <!-- Review Author -->
            <p class="starability-result" data-rating="<%= review.rating %>">
              Rated: <%= review.rating %> stars
            </p>
            <p href="#" class="content"><%= review.comment %></p> <!-- Review Content -->
            <p class="date"><%= review.createdAt.toDateString() %></p> <!-- Review Date -->
          </div>
  
          <!-- Show delete button only if the current user is the author of the review -->
        <% if (currentUser && currentUser._id.equals(review.user._id)) { %>
          <form action="/quizzes/<%= quiz._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        <% } %>
  
        <% }) %>
      </div>
  
      <button id="commentBtn">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
          <path
            d="M 25 4.0625 C 12.414063 4.0625 2.0625 12.925781 2.0625 24 C 2.0625 30.425781 5.625 36.09375 11 39.71875 C 10.992188 39.933594 11 40.265625 10.71875 41.3125 C 10.371094 42.605469 9.683594 44.4375 8.25 46.46875 L 7.21875 47.90625 L 9 47.9375 C 15.175781 47.964844 18.753906 43.90625 19.3125 43.25 C 21.136719 43.65625 23.035156 43.9375 25 43.9375 C 37.582031 43.9375 47.9375 35.074219 47.9375 24 C 47.9375 12.925781 37.582031 4.0625 25 4.0625 Z M 25 5.9375 C 36.714844 5.9375 46.0625 14.089844 46.0625 24 C 46.0625 33.910156 36.714844 42.0625 25 42.0625 C 22.996094 42.0625 21.050781 41.820313 19.21875 41.375 L 18.65625 41.25 L 18.28125 41.71875 C 18.28125 41.71875 15.390625 44.976563 10.78125 45.75 C 11.613281 44.257813 12.246094 42.871094 12.53125 41.8125 C 12.929688 40.332031 12.9375 39.3125 12.9375 39.3125 L 12.9375 38.8125 L 12.5 38.53125 C 7.273438 35.21875 3.9375 29.941406 3.9375 24 C 3.9375 14.089844 13.28125 5.9375 25 5.9375 Z">
          </path>
        </svg>
      </button>
  
  
      <form action="/quizzes/<%= quiz._id %>/reviews" method="POST">
        <div id="commentBox">
          <fieldset class="starability-basic">
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" required />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
      
          <textarea name="comment" placeholder="Add your comment here (optional)..."></textarea>
          <button type="submit" id="submitComment">Send</button>
        </div>
      </form>
      
  
  
      <script>
        const commentBtn = document.getElementById('commentBtn');
        const commentBox = document.getElementById('commentBox');
        const rateBtn = document.getElementById('rateBtn');
        const modal = document.getElementById('ratingModal');
        const closeBtn = document.getElementsByClassName('close')[0];
        const stars = document.querySelectorAll('.rating > span');
        const submitRatingBtn = document.getElementById('submitRating');
        const ratingText = document.getElementById('ratingText');
        let rating = 0;
  
        commentBtn.onclick = function () {
          commentBox.style.display = commentBox.style.display === 'none' || commentBox.style.display === '' ? 'block' : 'none';
        }
      </script>
  </body>
  
  </html>
  